<div class="box-body">
    <div class="form-group {{ errors.first('kriteria', 'has-error') }}">
        <label>Kriteria</label>
        <input type="text" name="kriteria" class="form-control" id="inputError" placeholder="Kriteria" value="{{ kriteria.kriteria }}" required>
        {{ errors.first('kriteria', '<span class="help-block">:message</span>') | raw }}
    </div>
    <div class="form-group {{ errors.first('bobot', 'has-error') }}">
        <label>Bobot</label>
        <input type="number" name="bobot" class="form-control" id="inputError" placeholder="Bobot" value="{{ kriteria.bobot }}" required>
        {{ errors.first('bobot', '<span class="help-block">:message</span>') | raw }}
    </div>
    <div class="form-group {{ errors.first('atribut', 'has-error') }}">
        <label>Atribut</label>
        <select name="atribut" class="form-control">
            <option value="benefit" {% if kriteria.atribut == 'benefit' %} selected {% endif %}>Benefit</option>
            <option value="cost" {% if kriteria.atribut == 'cost' %} selected {% endif %}>Cost</option>
        </select>
    </div>
</div>

<div class="box-footer">
    {% if edit %}
    <input class="btn btn-primary" type="submit" value="Update">
    {% else %}
    <input class="btn btn-primary" type="submit" value="Tambah">
    {% endif %}
</div>